<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pictureAir"
    android:versionCode="2"
    android:versionName="1.28" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.pictureAir.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".StartActivity"
            android:configChanges="keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainTabActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scanCode.CaptureActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditStoryAlbumActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignOrForgetActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadPageActivity1"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blur.BlurActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailProductActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewProductActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmitOrderActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPhoneActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentOrderActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".phototools.AllActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".phototools.PictureAirActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".phototools.CameraActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".phototools.EmptyActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllProductActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationPhotosAct"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InputCodeActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmailAddActiviy"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cityaddress.tools.AddAddressActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DownOrShareAct"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOrSelectPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectPPActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPPPActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPPActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selectHeadorBg.SetHeadPhotoAct"
            android:configChanges="keyboard|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoAlbumActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakegiftActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PPPDetailProductActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeliveryActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtherLoginActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtherRegisterActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".NationalListSelectionActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateUserinfoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingLanguageActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.calendar.CalendarActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnswerActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyPasswordActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />

        <!-- 扫描 -->
        <activity
            android:name=".MipCaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- alipay sdk end -->


        <!-- paypal支付 -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        <!-- wechat支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxd930ea5d5a258f4f" />
            </intent-filter>
        </activity>
        <!-- 友盟反馈 -->
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564c08dee0f55a15de002a72" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="360" />

        <receiver android:name=".wxapi.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- shareSDK分享 -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1104063863" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- shareSDK短信 -->
        <activity
            android:name="cn.smssdk.SMSSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="download.service.action" />
            </intent-filter>
        </service>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 百度定位服务相关，需要开发者key -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="L0gfzo9mimQd0dEPLLWpDyOl" />

        <!-- notification 服务 -->
        <!-- 开启notification的服务 -->
        <service android:name="com.pictureAir.service.NotificationService" >
        </service>

        <!-- notification里面的  广播接受 -->
        <receiver android:name="com.pictureAir.receiver.AlertManagerRecriver" >
            <intent-filter android:priority="500" >
                <action android:name="com.receiver.AlertManagerRecriver" >
                </action>
            </intent-filter>
        </receiver>

        <!-- 开机自启 -->
        <receiver
            android:name="com.pictureAir.receiver.BootReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 更新内容 -->
        <receiver android:name="com.pictureAir.receiver.UpdateUiRecriver" >
            <intent-filter android:priority="500" >
                <action android:name="com.receiver.UpdateUiRecriver" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>