<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pictureair.photopass">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:configChanges="keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.photopass"
                    android:scheme="shdrphotopass" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CouponActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainTabActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity
            android:name=".activity.EditStoryAlbumActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailProductActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectCountryActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InputCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PPPCodeActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewProductActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubmitOrderActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CartActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentOrderActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxc3d2d4d75042f800" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyPPPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyPPActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.EditPhotoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selectHeadorBg.SetHeadPhotoAct"
            android:configChanges="keyboard|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MakegiftActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PPPDetailProductActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtherLoginActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtherRegisterActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.UpdateUserinfoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingLanguageActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <!-- 扫描 -->
        <activity
            android:name=".activity.MipCaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />

        <!-- Disney Video start -->
        <activity
            android:name=".activity.IsOneGoToVideoActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!-- Disney Video end -->


        <!-- 忘记密码 -->
        <activity
            android:name=".activity.FindPasswordActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterOrForgetActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SelectPPActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->


        <!-- 银联 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 银联 -->


        <!-- wechat支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="net.sourceforge.simcpux.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- 统计，百度/友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564c08dee0f55a15de002a72" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="FVwu3al4gAKBjSfLvhedEkQAiFarNoRV" />
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- shareSDK分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            <meta-data android:name="QQWebShareAdapter" android:value="cn.sharesdk.demo.MyQQWebShareAdapter" />
            -->


            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent1105004402" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true">
            <intent-filter>
                <action android:name="download.service.action" />
            </intent-filter>
        </service>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="67e009eeb01ae95ab229247e3d1153e0" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- notification 服务 -->
        <!-- 开启notification的服务 -->
        <service android:name=".service.NotificationService" />
        <service android:name=".service.BreakpointDownloadService" />

        <!-- 开机自启 -->
        <receiver
            android:name=".receiver.BootReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 广播 不需要在 配置文件中注册，否则无法取消。 -->
        <receiver android:name=".receiver.NetBroadCastReciver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>